*{
    margin: 0;
}
p{
    color: brown;
}

.pmain{
    color: blue;
}

.justAlign{
    text-align: justify;
}

#header{
    color: blueviolet;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}

p{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: large;
}